{% extends "base.html" %}

{% block title %}
    Change Password
{% endblock %}


{% block script %}

<script>
    $('#changebtn').attr("disabled", true);

    $('#id_new_password2').change(function (e) {
        if ($('#id_new_password1').val() == $('#id_new_password2').val() && $('#id_new_password1').val() != '') {
            $('#changebtn').attr("disabled", false);
        } else {
            $('#changebtn').attr("disabled", true);
        }
    });

    $('#id_new_password1').change(function (e) {
        if ($('#id_new_password1').val() == $('#id_new_password2').val() && $('#id_new_password1').val() != '') {
            $('#changebtn').attr("disabled", false);
        } else {
            $('#changebtn').attr("disabled", true);
        }
    });
</script>

{% endblock%}
{% block content %}

<div class="col-xm-12 col-md-8 col-lg-5 mx-auto">
    <h1 class="my-4 text-center">Change Password</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}

                <div class="md-form">
                    <i class="fas fa-key text-primary prefix"></i>
                    <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                    <label for="id_old_password">Current Password</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-key text-primary prefix"></i>
                    <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                    <label for="id_new_password1">New Password</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-key text-primary prefix"></i>
                    <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                    <label for="id_new_password2">Confirm Password</label>
                </div>

                {% if error_message %}
                <div class="alert alert-danger" id="msg" role="alert">
                    {{error_message}}
                </div>
                {% endif %}
                <div class="text-center">
                    <input type="submit" id="changebtn" value="Change" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}