{% extends "faculty/clo_add_base.html" %}

{% block title %}
    Add New CLO
{% endblock %}


{% block script %}
 <script>
    $(function () {
        $('#courses_list input').removeClass('active');
        $('#course_id_'+location.href.split('/')[5]).addClass('active');
        $('#navbarNav ul > li').removeClass('active');
        $('#clos').addClass('active');

        $('#course_id').val(location.href.split('/')[5]);
        $('#plo_list').change(function(){
           $.ajax({
                type: 'POST',
                url: '/faculty/all_slos/',
                dataType: 'json',
                data: {
                'plo_id': $('#plo_list').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data){
                    let html = '';
                    for(i=0; i<Object.keys(data).length; i++){
                        html += "<option value='" + data[i].id +"'>"+data[i].slo_code+ "</option>";
                    }
                    $("#slo_list").html(html);
                }
           });
        });
    });

 </script>
{% endblock %}



{% block clodetail %}

<h3 class="my-3">Add New CLO</h3>

<!-- Card -->
<div class="card mb-3">

    <!-- Card content -->
    <div class="card-body">
        <form action="{% url 'clo_add' %}" method="POST">
            {% csrf_token %}
            <input type="text" hidden name="course_id" id="course_id">
            <div class="md-form">
                <input type="text" id="clo_code" name= "clo_code" required maxlength="10" class="form-control">
                <label for="clo_code">CLO Code</label>
            </div>
            <div class="md-form">
                <input type="text" id="clo_statement" name= "clo_statement" maxlength="1500" required class="form-control">
                <label for="clo_statement">CLO Statement</label>
            </div>

             <div class="md-form row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label for="plo_list">Select PLO</label>
                </div>

                <div class="col-sm-12 col-md-3 col-lg-2">
                    <select class="custom-select" id="plo_list" required name="plo_list">
                        {% for plo in plos %}
                        <option value='{{plo.id}}'>{{plo.plo_code}} {{plo.description}} </option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="md-form row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label for="slo_list">Select SLO</label>
                </div>

                <div class="col-sm-12 col-md-3 col-lg-2">
                    <select class="custom-select" id="slo_list" name="slo_list" required>

                    </select>
                </div>

            </div>
            <div class="float-right">
                <input type="submit" value="Add CLO" class="btn btn-primary btn-md">
            </div>
        </form>
    </div>

</div>
<!-- Card -->

{% endblock %}