{% extends "faculty/slo_add_base.html" %}

{% block title %}
    Add New SLO
{% endblock %}

{% block script %}
<script>
    $(function () {
        $('#programs_list a').removeClass('active');
        $('#slo_id_'+location.href.split('/')[5]).addClass('active');
        $('#navbarNav ul > li').removeClass('active');
        $('#slos').addClass('active');
    });
</script>
{% endblock %}


{% block slodetail %}

<h3 class="my-3">Add New SLO</h3>

<!-- Card -->
<div class="card mb-3">

    <!-- Card content -->
    <div class="card-body">
        <form action="{% url 'slo_add'%}" method="POST">
            {% csrf_token %}
<!--            <input type="number"  id="program_id" name="program_id">-->
            <div class="md-form">
                <input type="text" id="slo_code" name="slo_code" class="form-control">
                <label for="slo_code">SLO Code</label>
            </div>
            <div class="md-form">
                <input type="text" id="slo_description" name="slo_description" class="form-control">
                <label for="slo_description">SLO Statement</label>
            </div>
            <div class="md-form row">
                    <div class="col-sm-12 col-md-3 col-lg-2">
                        <label for="plo_list">Select PLO</label>
                    </div>
    
                    <div class="col-sm-12 col-md-3 col-lg-2">
                        <select class="custom-select" id="plo_list" name="plo_list">
                            {% for item in plos %}
                            <option value='{{item.id}}'>{{item.plo_code}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            <div class="float-right">
                <input type="submit" value="Add SLO" class="btn btn-primary btn-md">
            </div>
        </form>
    </div>

</div>
<!-- Card -->
{% endblock %}