{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/master.png' %}" />

    <title>{% block title %} {% endblock %} | OBE</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'mdbootstrap/css/bootstrap.min.css' %}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'mdbootstrap/css/mdb.min.css' %}">

    {% block styles %}
    {% endblock %}


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
            <a class="navbar-brand" href="#">OBE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" id="result">
                        <a class="nav-link" href="{% url 'result_detail' %}">Result <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="clos">
                        <a class="nav-link" href="{% url 'clo_detail' %}">CLO</a>
                    </li>
                    <li class="nav-item" id="slos">
                        <a class="nav-link" href="{% url 'slo_detail' %}">SLO</a>
                    </li>
                    <li class="nav-item" id="plos">
                        <a class="nav-link" href="{% url 'plo_detail' %}">PLO</a>
                    </li>
                    <li class="nav-item" id="outline">
                        <a class="nav-link" href="{% url 'outline_detail' %}">Outline</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-lg"></i> {{user.first_name}} {{user.last_name}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="{% url 'password_change' %}">
                                <i class="fas mr-2 text-primary fa-key"></i> Change Password
                            </a>
                            <a class="dropdown-item">
                                <form action="{% url 'user_logout' %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <i class="fas text-primary mr-2 fa-sign-out-alt"></i>
                                    <input class="btn btn-primary btn-sm" type="submit" value="Logout">
                                </form>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


    <div class="container-fluid mt-5">
        {% block content %} {% endblock %}
    </div>


</body>


<script type="text/javascript" src="{% static 'mdbootstrap/js/jquery-3.4.0.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdbootstrap/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdbootstrap/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdbootstrap/js/mdb.js' %}"></script>

{% block script %}
{% endblock %}

</html>